/* You can add global styles to this file, and also import other style files */

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(https://www.earlygame.com/uploads/images/_1200x630_crop_center-center_82_none/squid-game-video-game-roblox.png?mtime=1633090088);
}